.navbar-custom {
  width: 100%;
  border-bottom: 2px solid rgba(16, 16, 18, 0.8); /* Cor um pouco mais visível */
  background-color: rgba(200, 200, 200, 0.8); /* Cinza claro com transparência */
  backdrop-filter: blur(5px); /* Ajusta o efeito de desfoque */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030; /* Garante que a navbar fique acima de outros elementos */
}

.titulo{
   font-family: 'Book Antiqua' !important;
   font-weight: bold !important;
   font-size: 23px !important;
   color: rgb(92, 89, 89) !important;
}
.item {
  color: rgb(92, 89, 89) !important;

}
.portugues{
  color: green !important;
}

.espanhol{
  color: red !important;
}
@media (max-width: 380px) {
  .titulo {
    font-size: 18px !important;
  }
}
@media (max-width: 540px) {
  .titulo span {
    display: none;
  }
}