.corpoCon{
  margin-top: 60px !important;
}

.botao {
    background-color:  rgba(200, 200, 200, 0.8)  !important; /* Cor personalizada */
    border-color:  rgba(92, 91, 91, 0.8) !important; /* Cor personalizada para a borda */
    color: black !important;
  }
  
  .botao:hover {
    background-color: rgba(154, 147, 147, 0.8) !important; /* Cor personalizada ao passar o mouse */
    border-color: rgba(92, 91, 91, 0.8) !important; /* Cor personalizada da borda ao passar o mouse */
  }
